mixin list(items)
    table
        each item, i in items
            tr
                td
                    if (typeof item.publishDate !== 'undefined')
                        != item.publishDate.toISOString().substring(0, 10) + ' '

                td
                    a(href='/' + item.path)= item.title

                td
                    if (item.github)
                        a(href='https://github.com/' + item.github)
                            i.fa.fa-github
