include icon.pug
include iconGithub.pug
include iconYouTube.pug
include shortDate.pug

mixin list(items)
    table.list
        each item, i in items
            tr
                td
                    +shortDate(item.publishDate) + ' '

                td
                    a(href='/' + item.path)= item.title

                td !{item.platform}

                td
                    +icon('http://jordanlord.co.uk/', item.web, 'globe')

                td
                    +iconGithub(item.github)

                td
                    +iconYouTube(item.youtube)
