mixin list(items)
    each item, i in items
        span
            if (typeof item.publishDate !== 'undefined')
                != item.publishDate.toISOString().substring(0, 10) + ' '

            a(href='/' + item.path)= item.title
            br
