.navbar
    .ten.columns.offset-by-one
        a#a-title= sitename
        ul
            li: a(href="/projects") Projects
            li: a(href="/blog") Blog
            li: a(href="/") Home
            //for page in pages
            //    li: a(href="/${page.path}")= page.title
