extends default.pug

include includes/fancyDate.pug

block content
    article.page-panel
        .page-panel__header
            h1.page-panel__title= title

            if publishDate
                p.page-panel__date
                    +fancyDate(publishDate)

        .page-panel__body
            != contents

        .page-panel__footer
            a.share-link(href="#" onclick="event.preventDefault();navigator.clipboard.writeText(window.location.href).then(function(){var a=document.querySelector('.share-link');a.textContent='Link copied!';setTimeout(function(){a.textContent='Share'},2000)})")
                | Share
