extends default.pug

include includes/fancyDate.pug

block content
    article.page-panel
        .page-panel__header
            h1.page-panel__title= title

            if publishDate
                p.page-panel__date
                    +fancyDate(publishDate)

        .page-panel__body
            != contents
