doctype html
html(lang="en")
    head
        title= pageTitle
        block header

    body
        block navbar

        #content
            block content
                h1= title
                != contents
