doctype html
html(lang="en")
    head
        title= pageTitle

        link(rel='stylesheet', href='styles.css')

        block header

    body
        .navbar
            .ten.columns.offset-by-one
                a= sitename
                ul
                    li: a Test One
                    li: a Test Two
                    li: a Test Three

        .container
            .row
                #content
                    block content
                        h1= title
                        != contents

        #footer
            block footer
