doctype html
html(lang="en")
    head
        title= pageTitle

        link(rel='stylesheet', href='/styles.css')

        block header

    body
        include includes/navbar.pug

        .container
            .row
                #content
                    block content
                        h1= title

                        != contents

        #footer
            block footer
