extends default.pug

block content
    .twelve
        .ascii-photo.margin-bottom
            pre
                include ../res/ascii-photo.txt
    
    .row.margin-bottom
        .home-icons
            .three.columns
                +iconGithub(github)

            .three.columns
                +icon('https://youtube.com/channel/', youtube, 'youtube')

            .three.columns
                +icon('https://linkedin.com/in/', linkedin, 'linkedin')

            .three.columns
                +icon('https://twitter.com/', twitter, 'twitter')

    != contents
