extends default.pug

block content
    .twelve
        .ascii-photo
            pre
                include ../res/ascii-photo.txt
    
    .row
        ul.home-icons
            li
                +iconGithub(github)

            li
                +icon('https://youtube.com/channel/', youtube, 'youtube')

            li
                +icon('https://linkedin.com/in/', linkedin, 'linkedin')

            li
                +icon('https://twitter.com/', twitter, 'twitter')

    != contents
