extends default.pug

block content
    .twelve
        canvas.u-full-width.logiclogue-zx-image(width='256', height='192', src='/res/jordan.png' style={ 'image-rendering': 'pixelated' })
    
    .row.margin-bottom
        .home-icons
            .three.columns
                +iconGithub(github)

            .three.columns
                +icon('https://youtube.com/channel/', youtube, 'youtube')

            .three.columns
                +icon('https://linkedin.com/in/', linkedin, 'linkedin')

            .three.columns
                +icon('https://twitter.com/', twitter, 'twitter')

    != contents
