extends default.pug

block content
    h1= title
    
    .row
        ul.home-icons
            li
                +iconGithub(github)

            li
                +iconYouTube(youtube)

            li
                +icon('https://linkedin.com/in/', linkedin, 'linkedin')

    != contents
