extends default.pug
include includes/list.pug
include includes/shortDate.pug

block content
    section.page-panel
        .page-panel__header
            h1.page-panel__title= title

        .page-panel__body
            table.list
                each post, i in blog
                    tr
                        td
                            +shortDate(post.publishDate) + ' '

                        td
                            a(href='/' + post.path)= post.title
