extends default.pug
include includes/list.pug

block content
    section.page-panel
        .page-panel__header
            h1.page-panel__title= title

        .page-panel__body
            +list(projects)
