extends default.pug

block content
    h1= title

    p
        +fancyDate(publishDate)

    .project-links.margin-bottom
        .row
            if web
                .four.columns
                    a(href=web) Web

            if github
                .four.columns
                    a(href='https://github.com/' + github) GitHub

            if gitlab
                .four.columns
                    a(href='https://gitlab.com/' + gitlab) GitLab

            if youtube
                .four.columns
                    a(href='https://youtu.be/' + youtube) YouTube

            if playstore
                .four.columns
                    a(href='https://play.google.com/store/apps/details?id='
                        + playstore) Play Store

            if npm
                .four.columns
                a(href='https://npmjs.com/package/' + npm) NPM

    != contents
