extends default.pug

block content
    article.page-panel
        .page-panel__header
            h1.page-panel__title= title

            if publishDate
                p.page-panel__date
                    +fancyDate(publishDate)

        .page-panel__body
            .project-links.margin-bottom
                .row
                    if web
                        .four.columns
                            a(href=web) Web

                    if github
                        .four.columns
                            a(href='https://github.com/' + github) GitHub

                    if gitlab
                        .four.columns
                            a(href='https://gitlab.com/' + gitlab) GitLab

                    if youtube
                        .four.columns
                            a(href='https://youtu.be/' + youtube) YouTube

                    if playstore
                        .four.columns
                            a(href='https://play.google.com/store/apps/details?id='
                                + playstore) Play Store

                    if npm
                        .four.columns
                            a(href='https://npmjs.com/package/' + npm) NPM

            != contents

        .page-panel__footer
            a.share-link(href="#" onclick="event.preventDefault();navigator.clipboard.writeText(window.location.href).then(function(){var a=document.querySelector('.share-link');a.textContent='Link copied!';setTimeout(function(){a.textContent='Share'},2000)})")
                | Share
