extends default.pug

block content
    section.page-panel
        .page-panel__header
            h1.page-panel__title= title

        .page-panel__body
            table.list
                each computer, i in retro_computers
                    tr
                        td= computer.title
