$base00: #1B1D1E;
$base01: #232526;
$base02: #293739;
$base03: #808080;
$base04: #808080;
$base05: #F8F8F2;
$base06: #F8F8F2;
$base07: #F8F8F2;
$base08: #F92672;
$base09: #FD971F;
$base0A: #E6DB74;
$base0B: #A6E22E;
$base0C: #66D9EF;
$base0D: #EF5939;
$base0E: #ae81ff;
$base0F: #13354A;
