@import "base16-monokai";


$bg-colour: $base00;
$lighter-bg-colour: $base01;
$selection-bg-colour: $base02;
$invisible-colour: $base03;
$dark-fg-colour: $base04;
$fg-colour: $base05;
$light-fg-colour: $base06;
$light-bg-colour: $base07;
$link-colour: $base08;
$number-colour: $base09;
$bold-colour: $base0A;
$string-colour: $base0B;
$support-colour: $base0C;
$heading-colour: $base0D;
$italic-colour: $base0E;
$tag-colour: $base0F;

$heading-1-colour: $heading-colour;
$heading-2-colour: $heading-colour;
$heading-3-colour: $heading-colour;
$heading-4-colour: $heading-colour;
$heading-5-colour: $heading-colour;
$heading-6-colour: $heading-colour;
