
@import "colours";
@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "../lib/normalize";
@import "../lib/skeleton";
@import "../lib/code-theme";


$font-stack: 'Droid Sans Mono', monospace;
$font-size: 2;

$width-desktop-hd: 1200px;
$width-desktop: 1000px;
$width-tablet: 750px;
$width-phablet: 550px;
$width-mobile: 400px;
// Default unit
$u: rem;
