@for $index from 1 through 6 {
    h#{$index} {
        color: $heading-colour;
        font-size: $font-size#{$u};
        line-height: 150%;
    }
}

h1 {
    font-weight: bold;
    color: $heading-1-colour;
    text-decoration: underline;
}

h2 {
    font-weight: bold;
    color: $heading-2-colour;
}

h3 {
    color: $heading-3-colour;
}

h4 {
    color: $heading-4-colour;
}

h5 {
    color: $heading-5-colour;
}

h6 {
    color: $heading-6-colour;
}
