@import "defaults";
@import "tags";
@import "navbar";
@import "ascii-photo";
@import "ul-home-icons";


#content {
    padding: 2#{$u} 2#{$u} 0 2#{$u};
    margin-bottom: 4#{$u};
    background-color: $bg-colour;
    color: $fg-colour;
}
