body {
    background-color: $bg-colour;
    font-family: $font-stack;
    font-size: #{$font-size}#{$u};
}

b {
    color: $bold-colour;
}

em {
    color: $italic-colour;
}

a:link {
    color: $link-colour;
    text-decoration: none;
}

a:hover {
    color: $link-colour;
}

a:active {
    color: $link-colour;
}

a:visited {
    color: $link-colour;
}

p {
    margin-bottom: $font-size#{$u};
}

code {
    background-color: $lighter-bg-colour;
    border-width: 0;
}

// The block code tag class
.hljs {
    background-color: $lighter-bg-colour;
}

ul {
    list-style: square inside;
}

iframe {
    margin-bottom: $font-size#{$u};
}

.margin-bottom {
    margin-bottom: $font-size#{$u};
}
